/*
** File: customizations.scss
**
** CSS definitions to customize HTML elements.
*/

body {
    background: #282c34;
}

.headerrow {
    background: #282c34;
    margin-top: 14px;
    overflow: hidden;
}

.headerimage {
    display: none;
}

.headerimage img {
    float: left;
    margin: 0;
}

.headertext {
    padding: 0 0 0 10px;
}

@media screen and (min-width: 640px) {
    .headerimage {
        padding: 0 10px 0 0;
        display: inline;
    }

    .headerimage img {
        float: right;
        margin: 0;
    }

    .headertext {
        padding: 20px 0 0 10px;
    }
}

#post_title {
    background: none;
    color: #fff;
    margin-left: 14px;
}

#quiverware_logo {
    border: none;
    outline: none;
    box-shadow: none;
}

#avatar_wrap {
    padding: 20px 10px 0 0;
}

#footer_wrap {
    background: #282c34;
}

#download_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/icon_download.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
