/*
** File: topnavbar.scss
**
** CSS definitions for the top naviation bar.
*/

.topnavbar {
    background-color: #282c34;
    height: 45px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menulistitem {
    color: #f2f2f2;
    display: block;
    float: left;
    font-size: 17px;
    padding: 12px 8px 8px 8px;
    text-align: center;
    text-decoration: none!important;
    width: 80px;
}

.topnavbar .menulistitem:hover {
    background-color: #ddd;
    color: black;
}

#menubuttonitem {
    background-color: #282c34;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 45px;
    width: 40px;
}

#menubuttonitem:hover {
    background-color: #ddd;
    color: black;
}

.dropdownmenu:hover .dropdownlist {
    display: block;
}

.dropdownmenu {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
}

.dropdownlist {
    background-color: #383c44;
    box-shadow: 0px 80px 160px 0px rgba(0,0,0,0.2)!important;
    display: none;
    min-width: 160px;
    position: fixed;
    top: 45px;
    z-index: 2;
}

.dropdownlist a {
    color: #f2f2f2;
    display: block;
    font-size: 17px;
    left: 100px;
    padding: 12px 8px 8px 25px;
    text-align: left;
    text-decoration: none;
    top: 130px;
    z-index: 5;
}

.dropdownlist a:hover {
    background-color: #ddd;
    color: black;
}

.horizontalmenu {
    display: block;
}

.topnavspacer {
    margin: 42px 0 0 0;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .dropdownmenu {
        display: block;
    }

    .horizontalmenu {
        display: none;
    }
}
